[Unit]
Description=WireGuard Subnets
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=infinity
ExecStart=/sbin/wireguard-subnets -i wg0 -m 1000 -p 20 10.0.0.5:192.168.1.0/24,192.168.2.0/24 10.0.0.8:172.16.0.0/16
Restart=always

[Install]
WantedBy=multi-user.target
